/*font family*/
@font-face{
	src: url(../fonts/playfairdisplay-regular.ttf);
	font-family: playfairdisplay-regular;
}

@font-face{
	src: url(../fonts/ubuntu-light.ttf);
	font-family: ubuntu-light;
}

/*common start*/
body{
	margin: 0;
	padding: 0;
}
/*common end*/

/*header start*/

header{
	padding: 50px 0;
	/*border: 1px solid red;*/

}

.container{
	margin: 0 auto;
	width: 90%;
	/*border: 1px solid red;*/
	overflow: hidden;
}

.logo{
	width: 12%;
	/*border: 1px solid green;*/
	float: left;
	margin-top: 5px;
}

.logo a{}

.logo a img{
	width: 100%;
}

.menu{
	width: 65%;
	/*border: 1px solid green;*/
	float: right;
}

.menu ul{
	float: right;
}

.menu ul li{
	list-style: none;
	float: left;

}

.menu ul li a{
	display: inline-block;
	margin: 0 70px;
	color: #626262;
	text-decoration: none;
	font-family: playfairdisplay-regular;
	font-weight: 400;
	border-bottom: 1px solid transparent;
	transition: 0.33s linear;
}

.menu ul li:last-child a{
	margin-right: 0;
}

.menu ul li a:hover{
	border-bottom: 1px solid #626262;
}

/*header end*/
/*banner start*/

.banner{}

.b_img{}

.b_img img{
	width: 100%;
}
/*banner end*/
/*getaway start*/

.getaway{
	margin: 90px 0;

}

.container2{
	margin: 0 auto;
	width: 80%;
	/*border: 1px solid darkcyan;*/
	overflow: hidden;
}

.g_content{}

.c_light{
	margin: 0;
	font-family: ubuntu-light;
	font-size: 14px;
	font-weight: 300;
	color: #B4AB9B;
	text-transform: uppercase;
}

.c_title{
	margin: 20px 0 30px;
	font-family: playfairdisplay-regular;
	font-weight: 400;
	font-size: 30px;

}

.c_text{
	margin: 0;
	font-family: playfairdisplay-regular;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.m_40{
	margin-top: 40px;
}

/*getaway end*/
/*blog start*/
.blog{
	padding: 60px 0;
}

.single{
	width: 47%;
	/*border: 1px solid red;*/
	float: left;
	padding-bottom: 133px;
}

.single:nth-child(even){
	margin-left: 6%;
}

.single img{
	width: 100%;
	padding-bottom: 30px;
}
/*blog end*/
/*newsletter start*/
.newsletter{
	padding: 70px 0;
	background-color: #f0f0f0;
}

.signup{
	text-align: center;
}

.s_h2{
	margin-top: 0;
	margin-bottom: 70px;
	color: #333333;
}

.s_form{
	position: relative;
	width: 400px;
	margin: 0 auto;
}

.s_form input{
	width: 340px;
	height: 45px;
	padding-left: 5px;
	padding-right: 45px;
	border: none;
	border-bottom: 1px solid #626262;
	background-color: transparent;
	font-family: playfairdisplay-regular;
	font-weight: 400;
	font-size: 14px;
	color: #626262;
}

.s_form input:focus{
	outline: 0;
}

.s_form button{
	position: absolute;
	top: 15px;
	right: 0;
	background: transparent;
	border: none;
	cursor: pointer;
}
.s_form button img{}

/*newsletter end*/

/*blog2 start*/

.blog2{
	padding: 100px 0;
}

/*blog2 end*/
/*button start*/
.button{
	padding-top: 0;

}

.container3{
	text-align: center;
}

.container3 button{
	padding: 20px 30px;
	font-size: 20px;
	font-family: playfairdisplay-regular;
	font-weight: 400;
	border: none;
	border: 1px solid #626262;
	background: transparent;
	transition: 0.4s;
}

.container3 button:hover{
	color: white;
	background-color: #626262;
	border: 1px solid #ffffff;
}

/*button end*/
/*footer start*/
footer{
	padding: 20px 0;
	background-color: #f0f0f0;
}

.pages{
	width: 30%;
	float: left;
}

.pages ul{
	float: left;
}

.pages ul li{
	list-style: none;
	float: left;
}
.pages ul li a{
	font-family: playfairdisplay-regular;
	font-weight: 400;
	margin: 0 15px;
    text-decoration: none;
    display: inline-block;
    color: #000000;
}

.pages ul li:last-child a {
    margin-right: 0;
}

.social{
	width: 20%;
	float: right;
}

.social ul{
	float: right;
}
.social ul li{
	list-style: none;
    float: left;
}
.social ul li span{
	margin-right: 10px;
	font-family: playfairdisplay-regular;
	font-weight: 400;
	color: black;
}
.social ul li a{
	margin: 0 10px;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.social ul li a img{
	width:100%;
}

/*footer end*/
